@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";


*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: text;
    -webkit-tap-highlight-color: transparent;
}

$fontfamily: webfontregular, sans-serif;
$green:#00747a;
$prim:#707070;
$pink:#FD466A  ;
$yellow:#ffa150  ;
$blck:#1c1b1a;
$fsz:18px;

$maxwith:768px;




html{
    font-family: $fontfamily;
    font-size: $fsz;
    margin: 0;padding:0;


    body{
        margin: 0;padding:0;
        font-family: $fontfamily;
        font-size: $fsz;

     
       
    }

    a{
        outline: 0;
      text-decoration: none;
    }

    .warper{    position: relative;
       
        

        header{



            position: relative;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;



            

            .bg-g{
                position: absolute;
                background:$green;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
    
                
    
            }
        
           

            
              

        }

        #mainContent{
           
            


            //layout

            .main-layout {    
                position: relative;
            
            }
           
               

                

                
            }

            section{
                position: relative;
                padding: 20px 0px;   
                position: relative;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                max-height: 100%;
                background: #f8f8f8;   
                @media screen and (max-width:$maxwith){
                    height: auto;  min-height: auto;
                    max-height: 100%;
                }

            }

    
            .id2{
                background: #f1f1f1;}

           

           

            
        }
    }



 
   








#grid-container {
    position: absolute;   height: 100%;
    left: 0;
    right: 0px;
    top: 0;
    bottom: 0;
    overflow: hidden;    z-index: 0;
    .grid-columns {
        position: absolute;   height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        white-space: nowrap; z-index: 0;
        .column {
            height: 100%;
            position: relative;  z-index: 0;   display: inline-block;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 1px;
                background: rgba(255,255,255,0.1);
            }
        }
    }

    .gridDots {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; z-index: 0;
    .dot {
            position: absolute; z-index: 0;
            width: 1.5px;
            height: 1.5px;
            background: rgba(255,255,255,0.3);
            border-radius: 50%;
        }
    }

    &.green{

       
        .grid-columns {
            .column {
                &::before {background: rgba( 0, 116, 122,0.08);}
            }

        }
        .gridDots {
            .dot {  background: rgba(0, 116, 122,0.8);}
        }

    }
}


footer{

    
    
    width: 100%;
    background: #1c1b1a;
    color: #fff;
    position: relative;
    padding: 60px 0px;
    height: 100vh;

  
     
    
}


.text-center{
    text-align: center;
}
::selection {
    color: #fff;
    background: $yellow;
    text-shadow: none;
}








